{% extends 'layout.twig' %}
{% block content %}

{{ asset_js('app.js') }}
<header>
<div id="logo" class="logo_head">{{ asset_img('logo.gif') }}</div>
{{mail}}さんようこそ！
<br>
<br>

{# {{ asset_img('otonasikungraph.jpg') }} #}
<img id="img" src="" />
<div id="chartContainer"></div>


</header>

    {% endblock %}
